@media screen and (max-width: 2000px) {
  .container {
    width: 1550px; } }

@media screen and (max-width: 1600px) {
  .container {
    width: 1200px; }
  .background__circle-one {
    left: 82%;
    top: -31px; }
  /*
*
** Maincontent - Service
*
*/
  .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap {
    width: 230px; }
    .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__img-wrap .service__img-item {
      width: 100%; }
    .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__descr-wrap .service__descr-item {
      width: 220px; }
  /*
*
** Maincontent - Our-offer
*
*/
  .our-offer__title-figure-wrap .our-offer__figure-wrap .our-offer__img-descr-wrap {
    width: 500px; }
    .our-offer__title-figure-wrap .our-offer__figure-wrap .our-offer__img-descr-wrap .our-offer__descr-wrap .our-offer__descr-item {
      width: 492px; }
  /*
*
** work JS
*
*/ }

@media screen and (max-width: 1250px) {
  .container {
    width: 1100px; } }

@media screen and (max-width: 1100px) {
  .container {
    width: 680px; }
  .background__circle-one {
    left: 75%;
    top: -351px;
    width: 600px;
    height: 600px; }
  .background__line-horizont-one {
    width: 100%;
    top: 59px; }
  .background__line-horizont-two,
  .background__line-vert-four,
  .background__line-vert-three,
  .background__line-vert-two,
  .background__line-vert-one {
    display: none; }
  .background__circle-four,
  .background__circle-three,
  .background__circle-two {
    display: none; }
  /*
*
** Navigation 
*
*/
  .navigation__logo-links-wrap {
    margin-top: 15px; }
    .navigation__logo-links-wrap .navigation__logo-descr-wrap {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .navigation__logo-links-wrap .navigation__logo-descr-wrap .navigation__logo-descr {
        width: 44px; }
        .navigation__logo-links-wrap .navigation__logo-descr-wrap .navigation__logo-descr .navigation__logo-img {
          width: 100%; }
      .navigation__logo-links-wrap .navigation__logo-descr-wrap .navigation__descr-wrap {
        padding-left: 8px; }
        .navigation__logo-links-wrap .navigation__logo-descr-wrap .navigation__descr-wrap .navigation__descr-item {
          font-size: 15px;
          line-height: 16px; }
          .navigation__logo-links-wrap .navigation__logo-descr-wrap .navigation__descr-wrap .navigation__descr-item small {
            font-size: 20px; }
    .navigation__logo-links-wrap .navigation__links-list-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 18px;
      height: 12px;
      margin-right: 1px;
      cursor: pointer;
      border: 2px solid #000;
      border-right: none;
      border-left: none;
      background: #f2fbfa;
      position: relative; }
      .navigation__logo-links-wrap .navigation__links-list-btn .navigation__links-list-btn-img {
        position: absolute;
        border-bottom: 2px solid #000;
        width: 16px;
        top: 3px;
        left: 0; }
    .navigation__logo-links-wrap .navigation__links-list {
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      position: absolute;
      left: 50%;
      top: 50px;
      text-align: center; }
      .navigation__logo-links-wrap .navigation__links-list .navigation__links-item {
        margin-right: 0;
        background: #f2fbfa;
        padding: 20px 60px;
        -webkit-border-radius: 20%;
                border-radius: 20%; }
  /*
*
** Maincontent - Service
*
*/
  .maincontent .service__title-descr-figure-wrap .service__title-descr-wrap .service__title {
    font-size: 69px;
    text-transform: lowercase;
    color: #000;
    padding: 71px 0 0 2px; }
    .maincontent .service__title-descr-figure-wrap .service__title-descr-wrap .service__title small {
      color: #20aa97;
      font-size: 70px; }
  .maincontent .service__title-descr-figure-wrap .service__title-descr-wrap .service__descr-identify {
    font-size: 18px;
    width: 550px;
    line-height: 30px;
    padding-top: 44px; }
  .maincontent .service__title-descr-figure-wrap .service__title-descr-wrap .service__descr-identify-we {
    font-size: 18px;
    width: 550px;
    line-height: 30px; }
  .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap {
    margin: 53px 0 0 0;
    width: 300px; }
    .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__img-wrap {
      width: 70px; }
      .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__img-wrap .service__img-item {
        width: 95%; }
    .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__descr-wrap {
      padding-top: 25px; }
      .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__descr-wrap .service__descr-title {
        font-family: "proximanovaextrabold";
        font-size: 20px;
        color: #000;
        line-height: 24px; }
      .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__descr-wrap .service__descr-item {
        font-family: "proximanovabold";
        font-size: 16px;
        color: #585858;
        width: 280px;
        line-height: 24px; }
  /*
*
** Footer
*
*/
  .footer__Sponge-DD {
    margin-top: 0; } }

@media screen and (max-width: 695px) {
  .container {
    width: 320px; }
  .background__circle-one {
    left: 65%;
    top: -360px; }
  /*
*
** Navigation 
*
*/
  .navigation__logo-links-wrap .navigation__links-list-btn {
    margin-right: 8px; }
  /*
*
** Maincontent - Service
*
*/
  .maincontent .service__title-descr-figure-wrap .service__title-descr-wrap {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .maincontent .service__title-descr-figure-wrap .service__title-descr-wrap .service__title {
      font-size: 55px;
      padding: 70px 0 0 10px; }
      .maincontent .service__title-descr-figure-wrap .service__title-descr-wrap .service__title small {
        font-size: 60px; }
    .maincontent .service__title-descr-figure-wrap .service__title-descr-wrap .service__descr-identify,
    .maincontent .service__title-descr-figure-wrap .service__title-descr-wrap .service__descr-identify-we {
      font-size: 16px;
      width: 300px;
      text-align: left;
      line-height: 30px;
      padding: 30px 0 0 12px; }
  .maincontent .service__title-descr-figure-wrap .service__figure-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap {
      margin: 40px 0 0 0;
      width: 145px;
      text-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center; }
      .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__img-wrap {
        width: 60px; }
        .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__img-wrap .service__img-item {
          width: 100%; }
      .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__descr-wrap {
        padding-top: 44px; }
        .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__descr-wrap .service__descr-title {
          font-size: 15px;
          line-height: 18px; }
        .maincontent .service__title-descr-figure-wrap .service__figure-wrap .service__img-descr-wrap .service__descr-wrap .service__descr-item {
          font-size: 15px;
          width: 140px;
          line-height: 20px;
          padding-top: 3px; }
  /*
*
** Maincontent - Our-offer
*
*/
  .our-offer__title-figure-wrap {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .our-offer__title-figure-wrap .our-offer__title-wrap .our-offer__title {
      font-size: 46px;
      padding-top: 56px; }
      .our-offer__title-figure-wrap .our-offer__title-wrap .our-offer__title small {
        font-size: 46px; }
    .our-offer__title-figure-wrap .our-offer__figure-wrap {
      margin-top: 26px; }
      .our-offer__title-figure-wrap .our-offer__figure-wrap .our-offer__img-descr-wrap {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        width: 290px;
        margin: 0; }
        .our-offer__title-figure-wrap .our-offer__figure-wrap .our-offer__img-descr-wrap .our-offer__img-wrap .our-offer__img-item {
          padding: 28px 12px 25px 20px; }
        .our-offer__title-figure-wrap .our-offer__figure-wrap .our-offer__img-descr-wrap .our-offer__descr-wrap {
          padding-top: 30px; }
          .our-offer__title-figure-wrap .our-offer__figure-wrap .our-offer__img-descr-wrap .our-offer__descr-wrap .our-offer__descr-title {
            font-size: 18px; }
          .our-offer__title-figure-wrap .our-offer__figure-wrap .our-offer__img-descr-wrap .our-offer__descr-wrap .our-offer__descr-item {
            font-size: 15px;
            line-height: 25px;
            width: 270px; }
  /*
*
** Footer
*
*/
  .footer__Sponge-DD .footer__Sponge-DD-wrap {
    width: 250px;
    padding: 20px 0 20px 0; }
    .footer__Sponge-DD .footer__Sponge-DD-wrap .footer__descr {
      font-size: 12px;
      line-height: 20px; }
    .footer__Sponge-DD .footer__Sponge-DD-wrap .footer__title {
      font-size: 12px;
      line-height: 14px; } }
